body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    text-align: center;
    margin: 10px 0;
}

/* Add styling for the information boxes */
div.result-box {
    border: 2px solid #3498db;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

/* Customize the colors as needed */
div.sequence-box {
    background-color: #f1c40f;
}

div.predicted-class-box {
    background-color: #2ecc71;
}

div.plant-height-box {
    background-color: #e74c3c;
}
