<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sequence Classification and Regression</title>
</head>
<body>
    <h1>Sequence Classification and Regression</h1>
    <form action="/predict" method="post">
        <label for="sequence">Enter DNA Sequence:</label>
        <input type="text" id="sequence" name="sequence" required>
        <br>
        <button type="submit">Predict</button>
    </form>
</body>
</html>-
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sequence Classification and Regression</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_index.css') }}">
</head>
<body>
        <h1>Sequence Classification and Regression</h1>
    <form action="/predict" method="post">
        <label for="sequence">Enter DNA Sequence:</label>
        <input type="text" id="sequence" name="sequence" required>
        <br>
        <button type="submit">Predict</button>
    </form>
</body>
</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sequence Classification and Regression</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sequence Classification and Regression</h1>
        <form action="/predict" method="post">
            <label for="sequence">Enter DNA Sequence:</label>
            <input type="text" id="sequence" name="sequence" required>
            <br>
            <button type="submit">Predict</button>
        </form>
    </div>
</body>
</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sequence Classification and Regression</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles_index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Sequence Classification and Regression</h1>
        <form action="/predict" method="post">
            <label for="sequence">Enter DNA Sequence:</label>
            <input type="text" id="sequence" name="sequence" required>
            <br>
            <button type="submit">Predict</button>
        </form>
    </div>
</body>
</html>




